body{
    height: 100vh;
}

.dice{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.point{
    position: absolute;
    left: 35%;
    top: 35%;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 100%;
}

.point2{
    position: absolute;
    left: 17.5%;
    top: 17.5%;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
}

.point3{
    position: absolute;
    left: 52.5%;
    top: 52.5%;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
}

.absolute{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: brown;
}

.fixed{
    position: fixed;
    left: 25%;
    top: 0%;
    width: 200px;
    height: 200px;
    background-color: chartreuse;
}

.static{
    position: static;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.sticky{
    position: sticky;
    bottom: 0px;
    width: 200px;
    height: 200px;
    background-color: orange;
}

.parent{
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    position: relative;
}

.ball-container{
    position: relative;
}

.ball1{
    position: absolute;
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 1;
}

.ball2{
    position: absolute;
    background-color: green;
    width: 150px;
    height: 150px;
    top: 2%;
    left: 2%;
    border-radius: 100%;
}